
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'speaker_individual_list' %}">
    Individual Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="voice_sample">voice_sample: </label>
      <input class="form-control col-sm-10"
         id="voice_sample" type="file"
         name="voice_sample" value="{{ object.voice_sample }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="full_name">full_name: </label>
      <input class="form-control col-sm-10"
         id="full_name" type="text"
         name="full_name" value="{{ object.full_name }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}