{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'speaker_individual_list' %}">
        Individual Listing
    </a>
</p>
<hr>

<a class="btn btn-primary" href="{{ object.get_update_url }}">Edit</a>
<hr>

<table class="table">
    <tr><td>Voice sample</td><td>{{ object.voice_sample.url }}</td></tr>
    <tr><td>Full name</td><td>{{ object.full_name }}</td></tr>
</table>

<!-- Voice sample verification form -->
<hr>
<h3>Verify Voice Sample</h3>

<div style="display: flex; justify-content: start; align-items: center;">
    <button id="startRecording" class="btn btn-primary" style="margin-right: 10px;">Start Recording</button>
    <button id="stopRecording" class="btn btn-danger" style="display: none;">Stop Recording</button>
</div>

<form id="voiceVerificationForm" hx-post="{% url 'speaker_individual_detail' object.pk %}" enctype="multipart/form-data" hx-target="#response">
    {% csrf_token %}
    <input type="file" id="audioInput" name="voice_sample" hidden> <!-- Add this line -->
    {{ voice_verification_form.as_p }}
    <button type="submit" class="btn btn-success">Upload and Verify</button>
</form>
<div id="response"></div>


<script>
    function getCSRFToken() {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, 10) === ('csrftoken=')) {
                    cookieValue = decodeURIComponent(cookie.substring(10));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let mediaRecorder;
    let audioChunks = [];
    // This polyfill allows for creating a FileList to append to the input
    function FileListItems(files) {
      let b = new ClipboardEvent("").clipboardData || new DataTransfer();
      for (let i = 0, len = files.length; i < len; i++) b.items.add(files[i]);
      return b.files;
    }
    document.getElementById('startRecording').onclick = async () => {
        audioChunks = [];
        try {
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            mediaRecorder = new MediaRecorder(stream, { mimeType: 'audio/webm' });

            mediaRecorder.ondataavailable = event => {
                audioChunks.push(event.data);
            };

            mediaRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
                const fileInput = document.getElementById('audioInput');
                const data = new File([audioBlob], "voice_sample.webm", {
                    type: 'audio/webm',
                    lastModified: new Date().getTime()
                });
                fileInput.files = new FileListItems([data]);

                let formData = new FormData();
                formData.append('voice_sample', data);
                formData.append('csrfmiddlewaretoken', getCSRFToken());

                fetch("{% url 'speaker_individual_detail' object.pk %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                    },
                })
                .then(response => response.json())
                .then(data => {
                        const messageDiv = document.getElementById('response');
                        messageDiv.innerHTML = `<strong>Status:</strong> ${data.status}<br>
                                                <strong>Message:</strong> ${data.message}<br>
                                                <strong>Similarity:</strong> ${data.similarity}<br>
                                                <strong>Time Taken:</strong> ${data.elapsed_time.toFixed(2)} seconds<br>`;
                        messageDiv.className = ''; // Reset any previous class
                        messageDiv.classList.add('alert', data.status === 'success' ? 'alert-success' : 'alert-danger');
                    })
                .catch((error) => {
                    console.error('Error:', error);
                });
            };

            mediaRecorder.start();
            document.getElementById('startRecording').style.display = 'none';
            document.getElementById('stopRecording').style.display = 'inline-block';
        } catch (error) {
            console.error('An error occurred:', error);
        }
    };

    document.getElementById('stopRecording').onclick = () => {
        mediaRecorder.stop();
        document.getElementById('startRecording').style.display = 'inline-block';
        document.getElementById('stopRecording').style.display = 'none';
    };
</script>



{% endblock %}
